
.direnv/

/target
/src/gameserver/target

app.tar.gz
/src/gameserver/server/*
/src/credentials.json
/.history

/src/gameserver/svelte.old/*
/src/gameserver/svelte/node_modules/*
/src/gameserver/svelte/build/*
/src/gameserver/svelte/.svelte_kit/*
