
.direnv/

**/target
/gameserver/target
# /src/gameserver/target

app.tar.gz
# /src/gameserver/server/*
/gameserver/server/*
/src/credentials.json
credentials.json
/.history

/src/svelte.old/*
/src/svelte/node_modules/*
/src/svelte/build/*
/src/svelte/.svelte_kit/*

**/dist/
**/.svelte-kit/
**/build/

**/node_modules/*

activate-cargo-watch.txt
