.users-element {
    background-color: red;
}
.user-whole {
    background-color: #828282;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.user-operations {
    background-color: white;
    height: 5%;
    width: 100%;
}
.users {
    background-color: #ff0000;
    height: 5%;
    width: 100%;
}
.user-background {
    background-color: #000000;
    width: 20vw;
    height: 30%;
    /* display: flex;
    row-gap: 20vh; */
}
.user-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: #000000;
    width: 20vw;
    height: 20vh; */
}